@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
.loader {
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ::-webkit-scrollbar: Targets the entire scrollbar.

::-webkit-scrollbar-track: Targets the scrollbar track (the background of the scrollbar).

::-webkit-scrollbar-thumb: Targets the draggable part of the scrollbar.

scrollbar-width and scrollbar-color: CSS properties for styling scrollbars in Firefox.

scrollbar-width: thin;: Makes the scrollbar thinner.
scrollbar-color: red #f1f1f1;: Sets the scrollbar 
thumb color to red and the track color to light grey. */

/* Custom scrollbar styles */
.scrollbar-parent .scrollbar {
  overflow-x: scroll;
}

.scrollbar-parent .scrollbar::-webkit-scrollbar {
  height: 8px; /* Set the height of the scrollbar */
}

/* Track */
.scrollbar-parent .scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle */
.scrollbar-parent .scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Buttons (Remove them) */
.scrollbar-parent .scrollbar::-webkit-scrollbar-button {
  display: none;
}

/* RESPONSIVENESS */
@media (max-width: 640px) {
  .mobile-flex-between {
    justify-content: space-between;
  }
  .user-phone-img {
    display: none !important;
  }

  .user-phone-sign-out {
    padding: 0.5rem !important;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1)) !important;
    font-weight: 700 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) !important;
    border-radius: 0.5rem !important;
    height: max-content !important;
    margin-right: 1.25rem !important;
  }
}
